<section>
  <h3>{{ titulo }}</h3>

  <div class="tareas-container">
    <ng-container *ngIf="tareas.length > 0; else sinTareas">
      <div *ngFor="let tarea of tareas" class="tarea-item" [ngClass]="color">
        <h2>{{ tarea.titulo }}</h2>
        <p>{{ tarea.descripcion }}</p>
        <small *ngIf="tarea.fecha">{{ tarea.fecha | date: 'dd-MM-yyyy' }}</small>
        <ion-button color="primary">Editar</ion-button>
        <ion-button (click)="borrarTarea(tarea)" color="danger">Borrar</ion-button>
      </div>
    </ng-container>

    <ng-template #sinTareas>
      <ion-text color="medium">{{ mensajeVacio }}</ion-text>
    </ng-template>
  </div>
</section>
