<ion-header class="notfound-header" translucent="true">
  <ion-toolbar class="notfound-toolbar">
    <ion-title>Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notfound-content">
  <div class="notfound-container">
    <img src="assets/img/404 robot.png" alt="404" class="notfound-img" />
    <h2>¡Ups! No pudimos encontrar esta página</h2>
    <p>Parece que te perdiste en el camino, pero no te preocupes. Puedes volver al inicio y continuar con tus tareas.</p>
    <ion-button expand="block" color="danger" routerLink="/home" class="notfound-btn">
      Volver al inicio
    </ion-button>
  </div>
</ion-content>
