<ion-header>
  <ion-toolbar>
    <div class="welcome-card">
      <ion-title>Calendario</ion-title>
      <h2 class="calendar-title" style="font-size: 0.9rem;">Hoy, {{ diaActual }}</h2>
    </div>

      <div class="weather-info" *ngIf="weatherData" slot="end">
        <div class="weather-title">Clima en {{ weatherData.location?.name ?? '...' }}</div>
        <div class="weather-line">Temperatura: {{ weatherData.current?.temp_c ?? '—' }}°C</div>
        <div class="weather-line">Condiciones: {{ weatherData.current?.condition?.text ?? '—' }}</div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loading; else loadingTemplate">
    <!-- calendario superior -->
    <div class="calendar-header">
      <h2 class="ion-text-center" style="color: rgb(92, 92, 92);">{{ tituloMes }}</h2>
    </div>

    <div
      class="calendar-top"
      (touchstart)="onTouchStart($event)"
      (touchend)="onTouchEnd($event)"
    >
      <full-calendar #fullCalendar [options]="calendarOptions"></full-calendar>
    </div>


    <!-- lista de feriados -->
    <div class="event-list">
      <h2 style="color: rgb(78, 78, 78);">Feriados del mes</h2>
      <ion-list lines="none">
        <ion-item *ngFor="let evento of eventosMes" class="event-item">
          <ion-label>
            <h3 style="color: rgb(107, 107, 107); font-weight: 600;">{{ evento.title }}</h3>
            <p style="color: rgb(119, 119, 119);">{{ formatFecha(evento.start) }}</p>
          </ion-label>
          <ion-icon name="calendar-outline" color="danger" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>

  <!-- animacion de carga -->
  <ng-template #loadingTemplate>
    <div class="loading-container">
      <ion-spinner name="crescent" color="warning"></ion-spinner>
      <p>Cargando feriados...</p>
    </div>
  </ng-template>
</ion-content>

<ion-footer>
  <div class="bottom-nav">
    <div class="nav-item" [routerLink]="['/home']">
      <ion-icon name="time-outline"></ion-icon>
      <span>Hoy</span>
    </div>

    <div class="nav-item">
      <ion-icon name="calendar-outline"></ion-icon>
      <span>Próximo</span>
    </div>

    <div class="nav-item">
      <ion-icon name="person-outline"></ion-icon>
      <span>Perfil</span>
    </div>
  </div>
</ion-footer>