<ion-content [fullscreen]="true">
  <div class="book">
    <div
      class="paper"
      *ngFor="let page of pages; let i = index"
      [ngClass]="{ 'flipped': i < currentLocation - 1 }"
      [style.zIndex]="i === currentLocation - 1 ? 999 : (pages.length - i)"
    >
      <div class="front" [ngStyle]="page.style">
        <div class="front-content">
          <ng-container *ngIf="i === pages.length - 1; else regularText">
            <h1 class="welcome-text">Bienvenido a FocusList</h1>
            <p class="welcome-message">Organiza tus tareas y maximiza tu productividad.</p>
            <ion-button 
              class="join-button" href="/register" style="text-decoration: underline;">
              {{ page.front }}
            </ion-button>
          </ng-container>
          <ng-template #regularText>
            <p>{{ page.front }}</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <ion-button class="nav-button" id="prev-btn" (click)="goPrevPage()" [hidden]="pagInicial()" fill="clear">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

  <ion-button class="nav-button" id="next-btn" (click)="goNextPage()" [hidden]="pagFinal()" fill="clear">
    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
  </ion-button>

  
</ion-content>
