<ion-content class="ion-padding login-pag" [fullscreen]="true">
  <div class="center-wrap">
    <div class="login-content">
      <div class="login-text">
        <h1 class="title">Ingresa a tu cuenta.</h1>
        <p class="subtitle" style="color: #5a5a5a;">Hola, bienvenido de nuevo a tu cuenta.</p>
      <ion-card-content>
        <ion-item>
          <ion-input label="Email" type="email" labelPlacement="floating" placeholder="email@domain.com"></ion-input>
        </ion-item>
        <br>
          <ion-item>
            <ion-input label="Password" type="password" labelPlacement="floating" placeholder="********"></ion-input>
          </ion-item>
        <br>
          <ion-button expand="block">Ingresar</ion-button>
        <br>
      </ion-card-content>
      </div>
    </div>
  </div>
</ion-content>
