ion-content.home-pag {
  --background: none;
  position: relative;
}

ion-content.home-pag::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url('/assets/img/background01.png') no-repeat center center / cover;
}

.welcome-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.welcome-text {
  position: relative;
  color: white;
  margin-bottom: 1rem;
  font-weight: 600;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.welcome-message {
  position: relative;
  color: white;
  font-size: 1.2rem;
  line-height: 1.6;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.welcome-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 0;
}

ion-button {
  --background: transparent;
  --color: #78c2ad;
  --border-color: #78c2ad;
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 50px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px;
}
