ion-content {
  --background: #ffffff;
  color: #fff;
  padding: 0;
}

.welcome-card {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #fbb03c;
  width: 100vw;
  padding: calc(env(safe-area-inset-top, 48px) + 32px) 12px 16px;
}

ion-avatar {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 12px;
}

.user {
  background-color: #ffffff;
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.welcome-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin: 0 0 4px 0;
}

.welcome-subtitle {
  font-size: 0.75rem !important;
}

.welcome-card p {
  font-size: 1.1rem;
  color: #ffffff;
  margin: 0;
}

ion-header {
  box-shadow: 0 4px 20px rgba(251, 176, 60, 0.4);
  z-index: 10;
}

ion-footer {
  background-color: #fbb03c;
  padding: 8px 0;

  box-shadow: 0 -4px 20px rgba(251, 176, 60, 0.4);
  z-index: 10;
  background-color: #fbb03c;

  .bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: #fff;
    opacity: 0.8;
    transition: 0.2s ease;

    ion-icon {
      font-size: 1.6rem;
      margin-bottom: 4px;
    }

    &:active,
    &:hover {
      opacity: 1;
      transform: scale(1.05);
      color: #ffffff; // resalta en tu color principal
    }
  }
}

.btn-nuevaTarea {
  bottom: 72px;
}
