<ion-header class="welcome-header" translucent="true">
  <ion-toolbar>
    <div class="welcome-card">
      <ion-avatar>
        <img src="assets/icon/user2.svg" alt="Usuario" class="user" />
      </ion-avatar>
      <div>
        <h2 class="welcome-title">¡Bienvenido/a {{ usuario?.nombre }}!</h2>
        <p class="welcome-subtitle">¿Listo/a para revisar tus actividades?</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-tareas
    titulo="Atrasadas"
    color="danger"
    [tareas]="tareasAtrasadas"
    mensajeVacio="¡No hay tareas atrasadas! ¡Felicidades!">
  </app-tareas>

  <app-tareas
    titulo="Hoy"
    color="light"
    [tareas]="tareasHoy"
    mensajeVacio="No tienes tareas para hoy.">
  </app-tareas>

  <app-tareas
    titulo="Próximamente"
    color="tertiary"
    [tareas]="tareasProximas"
    mensajeVacio="¡No hay tareas próximas!">
  </app-tareas>

  <div style="padding: 24px 0 0 0; text-align: center;">
    <ion-button color="danger" routerLink="/not-found">
      Probar página 404
    </ion-button>
  </div>
  <div style="padding: 24px 0 0 0; text-align: center;">
    <ion-button color="primary" routerLink="/calendar">
      Ir a Calendar
    </ion-button>
  </div>
  <div style="padding: 24px 0 0 0; text-align: center;">
    <ion-button color="medium" (click)="logout()">
      Logout
    </ion-button>
  </div>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="btn-nuevaTarea">
  <ion-fab-button color="primary" (click)="abrirFormulario()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer>
  <div class="bottom-nav">
    <div class="nav-item">
      <ion-icon name="time-outline"></ion-icon>
      <span>Hoy</span>
    </div>

    <div class="nav-item">
      <ion-icon name="calendar-outline"></ion-icon>
      <span>Próximo</span>
    </div>

    <div class="nav-item">
      <ion-icon name="person-outline"></ion-icon>
      <span>Perfil</span>
    </div>
  </div>
</ion-footer>

<ion-modal [isOpen]="mostrarFormulario" (didDismiss)="cerrarFormulario()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Nueva Tarea</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarFormulario()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form (ngSubmit)="guardarTarea()">
        <ion-item>
          <ion-label position="stacked">Título</ion-label>
          <ion-input [(ngModel)]="nuevaTarea.titulo" name="titulo" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Descripción</ion-label>
          <ion-textarea [(ngModel)]="nuevaTarea.descripcion" name="descripcion"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Importancia</ion-label>
          <ion-radio-group [(ngModel)]="nuevaTarea.importancia" name="importancia">
            <ion-item>
              <ion-label>Baja</ion-label>
              <ion-radio slot="start" value="baja"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Media</ion-label>
              <ion-radio slot="start" value="media"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Alta</ion-label>
              <ion-radio slot="start" value="alta"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Selecciona una fecha</ion-label>
          <ion-datetime
            [(ngModel)]="nuevaTarea.fecha"
            name="fecha"
            display-format="DD/MM/YYYY"
            min="2023-01-01"
            max="2025-12-31"
            required
          ></ion-datetime>
        </ion-item>
        <ion-button expand="block" type="submit" color="primary">Guardar</ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
