<form class="form-tarea" (ngSubmit)="enviarFormulario()">

  <ion-item>
    <ion-label class="box-label" position="stacked">Título</ion-label>
    <ion-input [(ngModel)]="nuevaTarea.titulo" name="titulo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="box-label" position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="nuevaTarea.descripcion" name="descripcion"></ion-textarea>
  </ion-item>

  <ion-item lines="none"> 
    <ion-label class="box-label" position="stacked">Importancia</ion-label>
  </ion-item>
  <ion-radio-group [(ngModel)]="nuevaTarea.importancia" name="importancia">
    <ion-item 
      lines="none" 
      [ngClass]="{'selected-baja': nuevaTarea.importancia === 'baja'}">
      <ion-label style="font-weight: bold;">Baja</ion-label>
      <ion-radio slot="end" value="baja"></ion-radio>
    </ion-item>
    <ion-item 
      lines="none" 
      [ngClass]="{'selected-media': nuevaTarea.importancia === 'media'}">
      <ion-label style="font-weight: bold;">Media</ion-label>
      <ion-radio slot="end" value="media"></ion-radio>
    </ion-item>
    <ion-item 
      lines="none" 
      [ngClass]="{'selected-alta': nuevaTarea.importancia === 'alta'}">
      <ion-label style="font-weight: bold;">Alta</ion-label>
      <ion-radio slot="end" value="alta"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-item lines="none">
    <ion-label class="box-label" style="padding-bottom: 40px !important;" position="stacked">Fecha</ion-label>
    <ion-datetime presentation="date" [(ngModel)]="nuevaTarea.fecha" name="fecha"></ion-datetime>
  </ion-item>

  <ion-button expand="block" type="submit" class="btn-guardar">
    Guardar Tarea
  </ion-button>

</form>
